/* @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,500;0,700;1,500;1,700&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,700;1,500&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Yaldevi:wght@600;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Arima:wght@400;600&display=swap');

body, html {
    /* font-family: 'Playfair Display', serif; */
    /* font-family: 'Bitter', serif; */
    /* font-family: 'Yaldevi', sans-serif; */
    font-family: 'Arima', cursive;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    /* margin: auto; */
}