/* use a font from font.google.com */
@import url('https://fonts.googleapis.com/css2?family=Arima:wght@400;600&display=swap');

body, html {
    font-family: 'Arima', cursive;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

/* change the opacity when hovering a card */
.card:hover{
    opacity: 1;
}

.card{
    opacity: 0.6;
}